@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #FFF;
    --accent-color: #4b98c4;
    --text-color: #FFFFFF;
    --bg-color: #1a1a1a;
    --primary-bg: #1a1a1a;
    --card-bg: #242424;
    --personal: #3498db;
    --dut: #f13c3c;
    --ensimag: #2ecc71;
    --udemy: #9b59b6;
    font-family: 'Kanit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
    font-family: 'Montserrat', 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.technologies-section {
    scroll-margin-top: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(26, 26, 26, 0.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
}

.navbar-inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 3rem;
    margin-left: auto;
    margin-right: 4rem; /* Ajoute de l'espace à droite avant les icônes */
}

.nav-links a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    padding: 0.5rem 0;
    transition: color 0.3s ease;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3f81a8;
    transition: width 0.3s ease;
}

.nav-links a:hover {
    color: #4b98c4;
}

.nav-links a:hover::after {
    width: 100%;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons a {
    color: var(--primary-color);
}

main {
    margin-top: 20px; /* Adjust based on navbar height */
    padding-top: 2rem;
    margin-bottom: 50px;
}

.profile-section {
    display: flex;
    gap: 6rem; /* Increased from 4rem */
    align-items: flex-start;
    margin-top: 4rem;
    margin-left: 2rem; /* Added negative margin to shift left */
    position: relative;
}

.timeline {
    position: absolute;
    right: 0px;
    top: 0;
    height: 95%;
    width: 4px;
    background-color: #fff;
}

.timeline::after {
    content: '';
    position: absolute;
    top: 0;
    right: -5.5px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
}

.profile-image {
    margin-top: 2rem; 
    margin-left: -4rem;
    width: 240px;
    height: 240px;
    object-fit: cover;
    border: 2px solid var(--primary-color);
    border-radius: 50%
}

.highlight {
    position: relative;
    font-size: 48px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
}

.highlight:after {
    background-color: #2c5e7b;
    content: "";
    position: absolute;
    width: calc(100%);
    height: 30%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-1.2deg) translateY(-25%);
}
.profile-info {
    flex: 1;
}

.profile-info h1 {
    font-size: 85px;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.profile-info h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    position: relative;
    display: inline-block;
}

.profile-info h2::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
}


#experiences, #projects {
    scroll-margin-top: 120px;  /* Adjust based on navbar height */
}

.profile-description {
    font-size: 24px;
    margin: 1rem 0;
    color: var(--primary-color);
    font-family: "Kanit", sans-serif;
    font-weight: lighter;

}

.location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary-color);
    font-size: 1.5rem;
}

.location span {
    font-size: 18px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
}

.about-section {
    margin-top: 4rem;
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
    position: relative;
    display: inline-block;
}

.about-section h2::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    border-radius: 5px;
    width: 7rem;  /* Increased from 3rem */
    height: 4px;  /* Increased from 4px */
    background-color: var(--accent-color);
}

.about-content {
    font-size: 1.3rem;  /* Increased from 1.1rem */
    line-height: 2;     /* Increased from 1.8 */
    color: #444;
}

.about-content p {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    /* font-weight: lighter; */
}

.important-text {
    color: var(--accent-color)
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.card {
    background-color: var(--card-bg);
    border-radius: 5px;
    padding: 1.5rem;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0.4rem;
    font-weight: 600;
    color: var(--primary-color);
}

.card p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #d5d5d5;
}

.card:hover {
    transform: translateY(-5px);
}

.multi-icons {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.multi-icons img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.icon {
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tags {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.tag {
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 600;
}

.tag.personnel { color:  var(--personal); }
.tag.dut { color:  var(--dut); }
.tag.ensimag { color:  var(--ensimag); }
.tag.udemy { color:  var(--udemy); }

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (prefers-color-scheme: dark) {
    .element {
        background-color: var(--d-main-secondary);
        border-color: var(--d-border);
        box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 
                    0 2px 4px -1px rgba(255, 255, 255, 0.06);
    }
}


@media (max-width: 768px) {
    .profile-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav-links {
        display: none;
    }

    .timeline {
        display: none;
    }
}

.projects-section {
    margin-top: 4rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.project-card {
    background-color: var(--card-bg);
    border-radius: 5px;
    padding: 2rem;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-date {
    color: #a0a0a0;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.tech-stack {
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0;
}
.project-title {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 0.5rem;
}

.project-title img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.project-title h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.tech-stack img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.project-description,
.project-details,
.project-management,
.project-contribution {
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 0.3rem 0;
    color: #a0a0a0;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    align-self: flex-end;
}

.learn-more {
    background: none;
    border: none;
    color: var(--accent-color);
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: flex-end;
}

.learn-more::after {
    content: '→';
    transition: transform 0.3s ease;
}

.learn-more:hover::after {
    transform: translateX(5px);
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
    
    .project-card {
        padding: 1.5rem;
    }
}

.social-icons {
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
}

/* Timeline Container */
.timeline-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.timeline-arrow {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 18px solid var(--text-color);
    margin-top: -12px;
}

/* Timeline Line */
.timeline-line {
    position: absolute;
    width: 2px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Timeline Items */
.timeline-item {
    position: relative;
    margin: 6rem 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    padding-right: 3rem;
    text-align: right;
}

.timeline-item:nth-child(even) {
    margin-left: 50%;
    padding-left: 3rem;
}

/* Timeline Dots */
.timeline-dot {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: calc(98.8%);
    transform: translateY(-50%);
    z-index: 2;
}

.timeline-item:nth-child(even) .timeline-dot {
    left: -1.3%;
}

/* Connector Lines */
.timeline-connector {
    position: absolute;
    height: 2px;
    background-color: white;
    top: 50%;
    width: 25%;
    right: 0;
    transform: translateY(-50%);
}

.timeline-item:nth-child(even) .timeline-connector {
    left: 0;
}

/* Timeline Content */
.timeline-content {
    background-color: var(--card-bg);
    padding: 1.5rem;
    border-radius: 5px;
    position: relative;
}

.timeline-date {
    color: #9ca3af;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.timeline-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.timeline-description {
    color: #9ca3af;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.timeline-location {
    color: #9ca3af;
    font-size: 0.875rem;
}